<form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
  <h2>Sign up</h2>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" type="text" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" />
  </mat-form-field>
  <mat-action-row>
    <a mat-button [routerLink]="routeUsersSignInSignal()">Déjà un compte ?</a>
    <button
      mat-flat-button
      [disabled]="signUpForm.invalid"
      type="submit"
      color="accent"
    >
      Créer un compte
    </button>
  </mat-action-row>
</form>
