<div class="dialog-header">
  <p mat-dialog-title>Créer un nouveau groupe</p>
</div>

<mat-dialog-content>
  <p class="dialog-description">
    Créez un groupe pour recueillir et organiser des feedbacks sur un sujet
    spécifique.
  </p>

  <form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
      <mat-label>Nom du groupe</mat-label>
      <input matInput formControlName="name" placeholder="Ex: Projet Alpha" />
      <mat-icon matPrefix>group</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        placeholder="Décrivez l'objectif de ce groupe..."
      ></textarea>
      <mat-icon matPrefix>description</mat-icon>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    class="cancel-btn"
    [disabled]="loading()"
    (click)="onCancel()"
  >
    Annuler
  </button>
  <button
    mat-flat-button
    class="create-btn"
    [disabled]="formGroup.invalid || loading()"
    (click)="onSubmit()"
  >
    <span>Créer</span>
  </button>
</mat-dialog-actions>
