<h2 mat-dialog-title>Nouveau feedback</h2>

<mat-dialog-content>
  <p class="dialog-description">
    Partagez votre feedback avec le groupe pour améliorer le projet.
  </p>

  <form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
      <mat-label>Titre</mat-label>
      <input
        matInput
        formControlName="title"
        placeholder="Ex: Suggestion d'amélioration pour..."
      />
      <mat-icon matPrefix>title</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        placeholder="Décrivez votre feedback en détail..."
      ></textarea>
      <mat-icon matPrefix>description</mat-icon>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    class="cancel-btn"
    [disabled]="loading()"
    (click)="onCancel()"
  >
    Annuler
  </button>
  <button
    mat-flat-button
    class="create-btn"
    [disabled]="formGroup.invalid || loading()"
    (click)="onSubmit()"
  >
    <span>Publier</span>
  </button>
</mat-dialog-actions>
