<form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  <h2 mat-dialog-title>Ajouter un feedback</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Intitulé du feedback</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [disabled]="loading()" (click)="onCancel()">
      Annuler
    </button>
    <button mat-flat-button [disabled]="loading()" type="submit">Créer</button>
  </mat-dialog-actions>
</form>
