<div class="page-header">
  <div class="header-left">
    <div class="back-btn" (click)="navigateToGroupList()">
      <mat-icon>arrow_back</mat-icon>
    </div>
    <h1>{{ groupDetails()?.name }}</h1>
  </div>
  <div class="header-actions">
    <button
      mat-flat-button
      class="add-member-btn header-action"
      (click)="addMember()"
    >
      <mat-icon>person_add</mat-icon>
      Ajouter des membres
    </button>
    <button class="header-action" mat-flat-button (click)="addFeedback()">
      <mat-icon>add</mat-icon>
      Ajouter un feedback
    </button>
    <button mat-icon-button (click)="openUserList()">
      <mat-icon>group</mat-icon>
    </button>
  </div>
</div>

@if (groupDetails()?.subgroupsLoading === 'loading') {
  <div class="loader-container">
    <uf-loader [diameter]="50" />
  </div>
} @else {
  <div class="second-section">
    <div class="second-section-header">
      <h2 class="section-title">Sous Groupes</h2>
      <button mat-flat-button (click)="addSubgroup()">
        <mat-icon>add</mat-icon>
        Ajouter un sous-groupe
      </button>
    </div>
    <div class="group-list">
      @for (group of subgroups(); track group.id) {
        <mat-card appearance="outlined" (click)="onClickGroup(group.id)">
          <mat-card-header>
            <mat-card-title>{{ group.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{ group.description }}
          </mat-card-content>
        </mat-card>
      } @empty {
        @if (groupDetails()?.subgroupsLoading) {
          <div class="empty-state">
            <mat-icon>comment_bank</mat-icon>
            <h3>Aucun sous-groupes pour le moment</h3>
          </div>
        }
      }
    </div>
  </div>
}

@if (loading()) {
  <div class="loader-container">
    <uf-loader [diameter]="50" />
  </div>
} @else {
  <div class="feedbacks">
    @for (feedback of feedbackListSignal(); track feedback.id) {
      <uf-feedback-list-item
        [feedback]="feedback"
        [user]="userDetails()"
        (getComments)="getComments($event)"
        (postComment)="postComment($event, feedback.id)"
        (upVoteComment)="upVoteComment($event, feedback.id)"
        (downVoteComment)="downVoteComment($event, feedback.id)"
        (upVoteFeedback)="upVoteFeedback($event)"
        (downVoteFeedback)="downVoteFeedback($event)"
        (update)="updateFeedback($event)"
        (delete)="deleteFeedback($event)"
      />
    } @empty {
      <div class="empty-state">
        <mat-icon>comment_bank</mat-icon>
        <h3>Aucun feedback pour le moment</h3>
        <p>Soyez le premier à partager votre avis dans ce groupe</p>
        <button mat-flat-button color="primary" (click)="addFeedback()">
          <mat-icon>add</mat-icon>
          Ajouter un feedback
        </button>
      </div>
    }
  </div>
}
