<header>
  <h1>Feedbacks</h1>
  <button mat-flat-button (click)="addFeedback()">Ajouter un feedback</button>
</header>

@if (loading()) {
  <uf-loader />
} @else {
  <div class="feedbacks">
    @for (feedback of feedbackListSignal(); track feedback.id) {
      <uf-feedback-list-item
        [feedback]="feedback"
        (getComments)="getComments($event)"
        (postComment)="postComment($event, feedback.id)"
        (upVoteComment)="upVoteComment($event, feedback.id)"
        (downVoteComment)="downVoteComment($event, feedback.id)"
        (upVoteFeedback)="upVoteFeedback($event)"
        (downVoteFeedback)="downVoteFeedback($event)"
      />
    } @empty {
      Y a point de feedback ici 🤷‍♂️
    }
  </div>
}
